*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}
img{
    width: 50px;
}


/***** Start *****/
:root{
    --main-backG-color: #fff;
    --main-font-color: 000;
}


body{
    /* background: linear-gradient(80deg, #8FEFD9, #D488CC); */
    background: ;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /*background: linear-gradient(180deg,#034694,#0E3386);
    */
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
li{
    list-style: none;
}
a{  
    display: block;
    color: #000;
    text-decoration: none;
    font-family: 'Fira Sans',sans-serif;
}
.logo{
    width: 40px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 5px;
}
.dod{
    font-size: 1.5em;
    transform: rotate(90deg);
    margin-right: 5px;
}
.dod-click{
    position: absolute;
    top: 40px;
    right: 10px;
    background: var(--main-backG-color);
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 140px;
    height: 0px
    max-height: 95px;
    display: none;
    transition: all 0.4s;
}
.show-popup{
    display: block;
    height: 100px;
}
.sett-op li{
    width: 100%;
    padding: 5px;
}



.alert{
    font-size: 0.7em;
    color: red;
    font-weight: bold;
    margin-top: 50px;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.marketing-gif{
    width: 100%;
    max-width: 500px;
}
.start-title{
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    font-family: 'Nunito Sans',sans-serif;
}
.print-text{
    color: #3AD4B8;
}
.description{
    max-width: 600px;
    margin-top: 10px;
    text-align: justify;
    font-family:'Nunito Sans',Courier Prime, sans-serif;
}
.service{
    margin-top: 100px;
    text-align: center;
    background: #2AFF74;
}
.our-service{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.card-content{
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #A9EA9A;
    padding: 5px;
    border-radius:10px;
}
.marketing-im{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 5px;
}
.card-content .card-title{
    font-size:1.5em;
    width: 100%;
    align-items: left;
    padding: 5px 0;
    font-family: sans-serif;
}
.card-description{
    width: 100%;
    text-align: justify;
    font-family: 'sans-serif';
}
.card-content .card-btn{
    width: 150px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: sans-serif;
    background: #EADC9A;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 15px 0 5px 0;
}

/*.... Review.... */

.review{
    margin-top: 10px;
}
.review-title{
    width: 100%;
    text-align: center;
    background: #FFFC2A;
}